.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    color: #007bff;
}

.country-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.country-details h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.flag {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.country-details p {
    font-size: 16px;
    margin-bottom: 10px;
}

.country-details strong {
    font-weight: bold;
    color: #007bff;
}